body {

    background-color: rgb(205, 205, 205);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 35px;
}

.col {
    width: 150px;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
}

.form-select {
    align-items: center;
    width: 70px;
}

button {
    width: 70px;
}