body {
    background-color: rgb(205, 205, 205);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 35px;
}



.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    width: fit-content;
    height: fit-content;
}

button {
    background: none;
    border: 0px;
    color: rgb(0, 0, 0);
}