body {
    background-color: rgb(205, 205, 205);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 35px;
}

p {
    text-align: center;
}

.div-item {
    border: 3px;
    border-style: double;
    width: fit-content;
    height: fit-content;
    margin: 1px;
}

.grid-view {
    display: grid;
    grid-area: auto;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-top: 5%;
}

.list-view {
    width: fit-content;
    display: block;
    margin: 5% auto auto auto;
    justify-content: center;
}

.body-div {
    width: fit-content;
    margin: auto;
}

.btn-div {
    width: fit-content;
    margin: auto;
}